[submodule "Sources/OpenXcom"]
	path = Sources/OpenXcom
	url = https://github.com/TobiWahnKenobi/OpenXcom
	branch = ios-local-fixes
[submodule "Sources/SDL_gfx"]
	path = Sources/SDL_gfx
	url = https://github.com/sfalexrog/SDL_gfx
[submodule "Sources/SDL"]
	path = Sources/SDL
	url = https://github.com/TobiWahnKenobi/SDL-mirror
	branch = feature/ipados-hardware-keyboard
